<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folha de pagamento</title>
</head>
<body>
    <h2>Resultado da folha de pagamento</h2>
    Nome: {{ nome }} <br>
    Salário bruto R$ {{ bruto }} <br>
    INSS R$ {{ inss }} <br>
    Imposto de renda R$ {{ ir }} <br>
    Desconto do vale alimentação R$ {{ desconto_va }} <br>
    Desconto do vale transporte R$ {{ desconto_vt }} <br>
    Salário líquido R$ {{ liquido }}
    <br><br>
    <a href=";">Voltar</a>
</body>
</html>