<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desconto salarial</title>
</head>
<body>
    <h2>Desconto salarial</h2>
    <form action="/resultado" method="post">
        <label>
            Informe o nome:
            <input type="text" name="nome" required />
        </label><br />
        <label>
            Informe o valor do salário:
            <input type="number" name="valor" required />
        </label><br />
        <input type="submit" value="Enviar" />
    </form>
    
</body>
</html>