<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folha de pagamento</title>
</head>

<body>
    <h2>Folha de pagamento</h2>
    <form action="/calcular" method="post">
        <label>
            Valor da hora trabalhada R$
            <input type="number" step="0.1" name="valor_hora" required>
        </label>
        <br>
        <label>
            Horas trabalhadas no mês:
            <input type="number" step="0.1" name="horas_trabalhadas" required>
        </label>
        <br>
        <label>
            Vale alimentação recebido R$
            <input type="number" step="0.1" name="vale_alimentacao" required>
        </label>
        <br>
        <label>
            Vale transporte recebido R$
            <input type="number" step="0.1" name="vale_transporte" required>
        </label>
        <br>
        <button type="submit">Calcular</button>
    </form>
</body>

</html>