<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Escolar</title>
</head>
<body>
    <form action="calculo_media" method="post">
        <label>
            Aluno: <input type="text" name="nome" step="any">
        </label> <br>
        <label>
            Turma: <input type="number" name="turma" step="any">
        </label> <br>
        <label>
            Nota 1: <input type="number" name="n1" step="any">
        </label> <br>
        <label>
            Nota 2: <input type="number" name="n2" step="any">
        </label> <br>
        <label>
            Nota 3: <input type="number" name="n3" step="any">
        </label> <br>
        <label>
            Nota 4: <input type="number" name="n4" step="any">
        </label> <br>
        <input type="submit" value="Calcular media">
    </form>
</body>
</html>