<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício</title>
</head>
<body>
    <h2>Formulário enviando os dados para rota /dados</h2>
    <form action="/meusDados" method="get">
        <label>
            Informe o seu nome completo:
            <input type="text" name="nome" id="nome">
        </label>
        <br>
        <label>
            Informe a sua data de nascimento:
            <input type="date" name="nasc" id="nasc">
        </label>
        <br>
        <label>
            Informe a sua idade:
            <input type="number" name="idade" id="idade">
        </label>
        <br>
        <label>
            Informe o seu endereço completo:
            <input type="text" name="endereco" id="endereco">
        </label>
        <br>
        <label>
            Informe o seu bairro:
            <input type="text" name="bairro" id="bairro">
        </label>
        <br>
        <label>
            Informe o seu estado:
            <input type="text" name="estado" id="estado">
        </label>
        <br>
        <label>
            Informe a sua cidade:
            <input type="text" name="cidade" id="cidade">
        </label>
        <br>
        <label>
            Informe o seu número de telefone:
            <input type="tel" name="celular" id="celular">
        </label>
        <br>
        <label>
            Informe o seu email:
            <input type="email" name="email" id="email">
        </label>
        <br>
        <label>
            Informe o seu cpf:
            <input type="text" name="cpf" id="cpf">
        </label>
        <br>
        <label>
            Informe o seu rg:
            <input type="text" name="rg" id="rg">
        </label>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>