<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhando com Array</title>
</head>
<body>
    <h1>Variável array1</h1>
    <pre>{{ array1}}</pre>
    <h1>Variável array2</h1>
    <pre>{{ array2}}</pre>
    <h1>Variável a</h1>
    <pre>{{ a }}</pre>
    <h1>Variável b</h1>
    <pre>{{ b }}</pre>
    <h1>Variável aluno</h1>
    <pre>{{ aluno }}</pre>
    <h1>Variável a2</h1>
    <pre>{{ a2 }}</pre>
    <h1>Variável b2</h1>
    <pre>{{ b2 }}</pre>
    <h1>Variável c</h1>
    <pre>{{ c }}</pre>

</body>
</html>