<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coletando dados</title>
</head>
<body>
    <h2>Solicitando os dados</h2>
    <form action="/dados" method="post">
        <label>
            Informe o seu nome:
            <input type="text" name="nome" required>
        </label><br>
        <label>
            Informe a sua idade:
            <input type="number" name="idade" required>
        </label><br>
        <label>
            Informe o seu CPF:
            <input type="text" name="cpf" required>
        </label><br>
        <label>
            Informe o seu E-mail:
            <input type="email" name="email" required>
        </label><br>
        <label>
            Informe o seu telefone:
            <input type="tel" name="telefone" required>
        </label><br>
        <label>
            Informe o seu endereço:
            <input type="text" name="endereco" required>
        </label><br>
        <label>
            Informe a sua cidade:
            <input type="text" name="cidade" required>
        </label><br>
        <label>
            Informe o seu estado:
            <input type="text" name="estado" required>
        </label><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>