<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibindo os dados</title>
</head>
<body>
    <h2>Dados da pessoa</h2><br>
    <p>Nome: {{ nome }}</p><br>
    <p>Idade: {{ idade }}</p><br>
    <p>CPF: {{ cpf }}</p><br>
    <p>E-mail: {{ email }}</p><br>
    <p>Telefone: {{ telefone }}</p><br>
    <p>Endereço: {{ endereco }}</p><br>
    <p>Cidade: {{ cidade }}</p><br>
    <p>Estado: {{ estado }}</p><br>
    <a href="/">Voltar</a>
</body>
</html>