<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <!-- Formulário enviando os dados para rota /dados -->
     <h2>Formulário enviando os dados para rota /dados</h2>
     <form action="/dados" method="post">
        <label>
            Informe o seu nome:
            <input type="text" name="nome" id="nome">
        </label>
        <br>
        <label>
            Informe a sua idade:
            <input type="number" name="idade" id="idade">
        </label>
        <br>
        <input type="submit" value="Enviar">
     </form>
</body>
</html>